@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
  background-color: #e0ddff;
}

.hero a {

  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  padding: .15rem;
  margin: .5rem;
}

a:hover {
  opacity: .6;
}

.hero{
	padding: 0rem 4rem;
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
	border-bottom: 1px solid black;
}


.hero > *{
	
	
}

.hero > h1{
	font-size: 3rem;
	padding-bottom: 0rem;		
		
}

.hero > article {	
	color: black;
}



.games{
	padding: 2rem;	
}

.games > ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.games > ul > li {
	border: 1px solid rgba(0,0,0, .1);
	border-radius: .5rem;
}

.games > ul > li:hover{
	background-color: rgba(235, 255, 221, 1);
}

.games > ul > li > figure {
	max-height: 220px;
	overflow: hidden;
	margin: 0;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	position: relative;
}

.games > ul > li > figure > img{
	width: 100%;
}

.games > ul > li > figure > figcaption {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	width: 100%;
}

.games > ul > li >figure > figcaption > h3 {
	color: white; 
	padding: .75rem;
	font-size: 1.25rem;
}

.games > ul > li > p {
	font-size: 1rem;
	line-height: 1.5;
	padding: 1rem .75rem;
	color: #444444;
}

.games > ul > li > p > a {

}


