#main-body{
	width: 65%;	
	margin-left: 10%;
	padding-left: 2%;
	
}

#main-body table img{
	width: 225px;
	height: 150px;
	padding: none;
}

#main-body table {	
	width: 100%;
}

#main-body table tr td {
	width: auto;
	padding: 5px;	
}

.game-title {
	/*border: 1px solid black;*/
	vertical-align: top;
	padding-bottom: 15%;
}

.game-button {
	color: red;	
}




#left-nav{
	float: left;
	width: 10%;
	display: overflow;
	padding-left: 1px;
}

#left-nav ul {
	list-style: none;
	padding-left: 2px;
	width:75%;
}

#left-nav li {
	font-size: 1.5em;
	font-size: 1.5em;
	padding-top:15px;
	padding-left: 5px;
	
}

#left-nav a {
	text-decoration: none;
}

#left-nav li:hover {
	border-bottom: 3px solid black;
}
